<div class="container">
  <div class="wrapper">
    <div class="row login-left">
      <img src="https://res.cloudinary.com/dnivakimu/image/upload/v1616709963/undraw_Login_re_4vu2_gvhvvx.svg"
        alt="login-image" class="login-image">
    </div>
    <div class="row login-form">
      <h2>Longin </h2>
      <form action="/" method="POST">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="password" required>
        </div>
        {{#if info}}
        <div class="alert alert-danger" role="alert">
          Password wrong!!
        </div>
        {{/if}}
        {{#if fail}}
        <div class="alert alert-danger" role="alert">
          登入失敗
        </div>
        {{/if}}

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
</div>