body,html{
	margin:0;
  height: 100%;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.login-wrap {

}

.wrapper {
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 10%;
  background-color: RGBA(203,153,126,0.3);
  border-radius: 15px;
  padding: 20px;

}

.login-form {
  margin: 10%;
  width: 50%;
}

.login-left {
  width: 50%;
}
.login-image {
  width: 100%;
  /* object-fit: cover; */
}
